.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgb(113, 195, 242), #8d95e4);
}
.btn {
  width: 60px;
  height: 45px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  background-color: white;
  margin-top: 5px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-image: linear-gradient(rgb(113, 195, 242), #8d95e4);
}