.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(79deg, hwb(21 33% 0%), hsl(324, 100%, 73%) 48%);
}
.btn {
  width: 70px;
  height: 45px;
  border-radius: 20px;
  text-align: center;
  font-size: 13px;
}